.image-container {
  position: relative;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.767);
  z-index: 1;
}

.image-black-overlay {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
  opacity: 0.5;
}

.text-overlay {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 30px;
  left: 20px;
  color: white;
  z-index: 1;
}

.title-image {
  font-size: 32px;
  margin-bottom: 20px;
}

.align {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 220px;
  margin-bottom: 10px;
}

.subtitle-image {
  font-size: 16px;
  margin-right: 10px; /* Espaço entre o texto e o ícone */
}

.rating-description,
.evaluation-description {
  font-size: 16px;
  margin-left: 10px; /* Espaço entre o ícone e o texto */
}

.align-pictures {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 110px;
  color: white;
  margin-left: 40px;
  z-index: 1;
  gap: 10px;
}

.picture {
  height: 80vh;
}
